import React from 'react';
import styles from './{{pascalCase name}}.style';

interface {{pascalCase name}}Props {
  // Add props here
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
  return <div>{{pascalCase name}} component</div>;
};

export default {{pascalCase name}};